html, body {
    font-family: sans-serif;
    background-color: #eee7c9;
}

p{
    color:black;
    font-size: 1.38em;
}

a{
    color:black;
    font-size: 1.30em;
}


a:visited{
    color:black;
}

a:hover{
    color: #ff6e06;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size:2.3em;
}

h2 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size:1.75em;
    color:black;
}

h3 {
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size:2.2em;
    color:white;
}

ul {
    margin-top: 20px;
    padding-left: 0px;
    list-style: none;
}

li {
    font-size: 1.25em;
    padding: 20px 0;
    border-top: 1px solid #eee;
    list-style-type: square ;
}

footer{
    font-style: italic;
    text-align: center;
}
.form-complete {
    display: inline;
    margin-right: 20px;
}

#AdminAccess{
  font-style: italic;
    font-size: 1.2em;
    color:white;
}

.carousel-inner {
    width:100%;
    height:500px;
}


.textnav{

    color:white;
    font-size: 1.2em;
}

.textnav:hover{
    color:#ff6e06;

}
#navbarcontainer{
    background-color: #645139;

}

.row {
    margin-top: 20px;
}

.panel-default{
    border-radius: 20px;
}

.inpanel{
    margin-left: 20px;
    margin-right: 20px;
}


