{# templates/frontoffice/circuitslist.html.twig #}

{% extends "frontoffice/baselayoutfront.html.twig" %}

{% block title %}{{ parent() }} - Circuits list{% endblock %}

{% block main %}

<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <h1>Liste de nos circuits</h1>
        <br>

    {% if circuitslist is not empty %}
        <p>Voici tous les ciruits disponibles dans notre agence :</p>
        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-5">

                <ul>
        {# Loop through list and creeate the list of circuit items. #}
        {% for circuit in circuitslist %}
            <li>
          		<a href="{{ path('circuitshow', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, you don't have any circuits yet!</p>
    {% endif %}
            </div>
        </div>
    </div>


</div>

{% endblock %} {# main #}
