{% extends "FrontOffice/baselayoutfront.html.twig" %}



{% block title %}Contact {% endblock %}

{% block main %}
    <div class="container">
        <div class="row">
            <div>{{ block('sidenav') }}</div>
            <div class="col-lg-3"></div>
            <div class="col-lg-7">
                <p>Formulaire en cours de développement</p>
                <img src="https://i.pinimg.com/736x/89/21/9c/89219cce16256e431a1dd2c1f82428db.jpg" alt="bravo, vous avez trouvé le gâteau">
            </div>
        </div>
    </div>
{% endblock %}