

{% extends "BackOffice/baselayoutBack.html.twig" %}

{% block title %}Accueil administrateur {% endblock %}


{% block main %}





    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p> <a href="/admin/circuit"> Tous les circuits </a> </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p><a href="/admin/programmation"> Programmations</a></p>
            </div>
        </div>
    </div>
{% endblock %}
