{# templates/circuitslist.html.twig #}



{% extends "BackOffice/baselayoutBack.html.twig" %}

{% block title %}{{ parent() }} - Liste des circuits{% endblock %}

{% block main %}


    <div class="container">
        <div class="row">
            <div>{{ block('sidenav') }}</div>
            <div class="col-lg-1"></div>
            <div class="col-lg-8">

                <h1>Liste des circuits</h1>
                {% if circuitslist is not empty %}
                    <p>Voici tous les circuits de l'agence:</p>
                    <ul>
                        {# Loop through list and creeate the list of circuit items. #}


                        {% for circuit in circuitslist %}


                            <li>
                                <a href="{{ path('circuitshowadmin', { 'id' : circuit.id }) }}">{{ circuit.description }}</a>
                            </li>

                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Sorry, you don't have any circuits yet!</p>
                {% endif %}


            </div>
        </div>
    </div>





{% endblock %} {# body #}
