{% extends "BackOffice/baselayoutBack.html.twig" %}

{% block title %}Modification programmations{% endblock %}
{% block main %}
    <div class="container">
    <div class="row">
    <div>{{ block('sidenav') }}</div>
    <div class="col-lg-3"></div>
    <div class="col-lg-7">
    <p>Formulaire en cours de développement</p>
    </div>
    </div>
    </div>
{% endblock %}