{% extends "baselayout.html.twig" %}

{% block title %}Accueil {% endblock %}

{% block body %}
	<p> <a href="/circuit"> Description de tous nos circuits </a> </p>
	<p><a href="/programmation"> Tous nos voyages prévus</a></p>
	
{% endblock %}