{% extends "baselayout.html.twig" %}

{% block title %}Accueil {% endblock %}


{% block body %}

    {% block header %}
		<header>

					<img id="img_header" src="https://t3.ftcdn.net/jpg/01/09/81/02/240_F_109810224_B2Jmt5FCLjcySrE7K1VwgOnIxPQ6XHQZ.jpg" alt="banner">

		</header>
    {% endblock %}

{% block nav %}

	<nav class="navbar">
		<div class="row">

			<ul class="navbar-nav mr-auto">

				<li class="nav-item">

				<li class="nav-item">
					<a class="nav-link" href="#">Contactez-nous</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Accès administrateur</a>
				</li>
			</ul>

		</div>

	</nav>
	{% endblock %}




	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<p> <a href="/circuit"> Description de tous nos circuits disponibles </a> </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<p><a href="/programmation"> Programmation des prochains voyages</a></p>
			</div>
		</div>
	</div>

{% endblock %}